# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno y configuraciones
.env
.env.local
.env.development
.env.test
.env.production

# Archivos de salida y compilación
dist/
build/
coverage/
.vscode/
.idea/

# Archivos de sesión y logs
logs/
*.log
.pids
*.pid
*.seed
*.pid.lock

# Caché de paquetes y herramientas
.cache/
.tmp/

# Configuración de servicio y herramientas
.DS_Store
Thumbs.db
*.swp

